
@{
    ViewBag.Title = "ResetPassword";
    Layout=null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/common/siteUrl.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Angular/angular.min.js"></script>

<body ng-app="ResetPasswordApp" ng-controller="ResetPasswordCtrl" ng-init="userData.userEmail='@ViewBag.id'">
    <div class="panel-body" id="divShow">
        @if (ViewBag.userName != "no" )
        {
            <div class="container">
                <div class="row">

                    <form id="loginForm">
                        <div ng-show="msg">
                            <label class="alert alert-{{msgType}}">{{msg}}</label>
                            <span style="cursor:pointer" ng-click="msg=''">X</span>
                        </div>
                        @*<div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" ng-model="userData.userEmail" class="form-control" name="username" value="@ViewBag.id" readonly>
                        </div>*@
                        <div>
                            <h2>Hi @ViewBag.userName ,</h2>
                            <br />
                            <br />
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input maxlength="20" ng-model="userData.password"  type="password" class="form-control" name="password" placeholder="password">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input maxlength="20" ng-model="userData.confirmPassword" type="password" class="form-control" name="password" placeholder="confirm password">
                        </div>
                        <div class="span9 btn-block no-padding">
                            <input type="submit" ng-click="ResetPassword()" class="btn btn-primary" id="login_btn" value="Reset">
                        </div><br>
                        <div style="padding:5px 0px;"></div>

                        <br>
                    </form>
                    <!-- FORM END -->
                    <!-- LOGIN BOX COL END -->
                </div>
            </div>
            
        }

        else
        {
            <div class="row" style="text-align: center; padding:100px 0px;">
                <div class=".col-xs-6 .col-sm-4 login_box center-block">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group"><h3 style="color:red">This link is no more available or you have already reset your password</h3></span>
                    </div>
                </div>
            </div>
        }


    </div>

</body>
<script>
    var app = angular.module('ResetPasswordApp', []);
    app.controller('ResetPasswordCtrl', function ($scope, $http) {
        resetMsg();
        $scope.userData =
            {
                userEmail: null,
                password: null,
                confirmPassword:null
            };

        function validation()
        {
            if($scope.userData.password==null || $scope.userData.password=='')
            {
                $scope.msg = "All fields are required";
                $scope.msgType = "danger";
                return false;
            }
 
            else if($scope.userData.password.length<6)
            {
                $scope.msg = "Minimum Password length must be 6 characters";
                $scope.msgType = "danger";
                return false;
            }
            else if($scope.userData.password!=$scope.userData.confirmPassword)
            {
                $scope.msg = "Password does not match";
                $scope.msgType = "danger";
                return false;
            }
            else
            {
                return true;
            }
        }

        function setMsg(message,type)
        {
            $scope.msg = message;
            $scope.msgType = type;
        }

        function resetMsg()
        {
        $scope.msg = null;
        $scope.msgType =null; 
        }
        $scope.ResetPassword=function()
        {
            if (validation())
            {
            resetMsg();
            $http.post(siteUrl+"/api/WebService/ResetPassword",$scope.userData).success(function(response)
            {
                if(response==1)
                {
                    alert("Your password is successfully changed.\n Now you may login with new password");
                }
                else
                {
                    alert('This Link has expired Please try again');
                }
                $("#divShow").hide();
                
            })
            }
        }
    });
</script>
