<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--"Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9ADF60_wizz;User Id=DB_9ADF60_wizz_admin;Password=techahead;"-->

  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/" protection="All" timeout="500" name=".wizz" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="/" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.emailsrvr.com" userName="test@techaheadcorp.com" password="tech@901" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>


  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    
    
    <add key="siteurl" value="http://staging10.techaheadcorp.com/wizz" />
    <add key="imagepath" value="http://staging10.techaheadcorp.com/wizz/webimages/" />
    <add key="tutorDocs" value="http://staging10.techaheadcorp.com/wizz/tutorDocs/" />
    <add key="imageurl" value="http://staging10.techaheadcorp.com/wizz/webimages/" />
    
    <!--<add key="siteurl" value="52.26.40.80/" />
    <add key="imagepath" value="52.26.40.80/webimages/" />
     <add key="tutorDocs" value="52.26.40.80/tutorDocs/" />
    <add key="imageurl" value="52.26.40.80/webimages/" />-->
    
    <!--For Twilio Message-->
    <add key="MsgAccountSid" value="AC8781869a5b3922a7d230e16a373bfda0" />
    <add key="MsgAuthToken" value="63c363d872f587226d37c9c9514ae82d" />
    <add key="MsgFrom" value="+12015125699" />
    <add key="CountryCode" value="+91" />

    <add key="ImagePath" value="/WebImages/" />
    <add key="isProduction" value="True" />
    
    
    <add key="stripeSecretKey" value="LIVE_SECRET_KEY" />
    <add key="stripeLiveKey" value="LIVE_PUBLISHABLE_KEY" />
    
    <add key="RequestTime" value="1200" />
    <add key="AdminName" value="Wizz" />
    <add key="AdminEmail" value="test@chaheadcorp.com" />
    <add key="androidPushKey" value="AIzaSyDwnSDC0ekwkhNQulypO_AmXtrAcQ95hpw" />
   
  </appSettings>

  <connectionStrings>
    <add name="WizzDataContext" connectionString="metadata=res://*/Models.Wizz.csdl|res://*/Models.Wizz.ssdl|res://*/Models.Wizz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5013.Smarterasp.net;initial catalog=DB_9ADF60_wizz;persist security info=True;user id=DB_9ADF60_wizz_admin;password=techahead;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_9ADF60_wizzConnectionString" connectionString="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9ADF60_wizz;Persist Security Info=True;User ID=DB_9ADF60_wizz_admin;Password=techahead;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="DB_9ADF60_wizzConnectionString" connectionString="Data Source=wizz.clehfvfqjoth.us-west-2.rds.amazonaws.com;Initial Catalog=wizz;User ID=wizz;Password=techahead" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>